@model IEnumerable<Capa_Entidad.Pedido_E>
@using Capa_Entidad;
@{
    ViewBag.Title = "AtenderPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Pedido_E f = (Pedido_E)ViewBag.Pedido;
}



<script>
    $(document).ready(function () {
    });
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/ComprasYa/AtenderPedidos?" + object);
    }
</script>

<div class="form-control">
    <h2 style="color:darkblue">Atender mis pedidos</h2>
</div>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active"> Bienvenido a Compras Ya </li>
    <li class="breadcrumb-item active"> Estás en atender mis pedidos</li>

</ol>
<br />
<a style="float:left;" href="@Url.Action("SesionUsuario", "ComprasYa")" class="btn btn-warning">
    <i class="icon-home3"></i>
    <span><strong>Volver al menu</strong></span>
</a>
<br />
<br />
<form name="frm" id="frm">
    <table class="table table-dark table-bordered table-active table-striped table-responsive-sm">
        <tr>
            <th>
                #Pedido
                <input type="number" name="docentry" style="width:50px;font-size:13px;" class="form-control" onchange="filtrar();" value="@f.docentry" />
            </th>
            <th>
                Comprador
                <input type="text" name="nomcliente" style="width:100px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@f.nomcliente" />
            </th>
            <th>
                Fecha Pedido
                <input type="date" name="fecreg" class="form-control" style="width:120px;font-size:13px;" onchange="filtrar();" value="@f.fechaVacia(f.fecreg)" />
            </th>
            <th>
                Precio unit
                <input type="number" name="precio" style="width:60px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@f.precio" />
            </th>
            <th>
                Cantidad
                <input type="number" name="cantidad" style="width:50px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@f.cantidad" />
            </th>
            <th>
                Total Facturado
                <input type="number" name="total" style="width:100px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@f.total" />
            </th>
            <th>
                Direccion de Entrega
                <input type="text" name="lugarDestino" style="width: 100px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@f.lugarDestino" />
            </th>
            <th>
                Tipo de Comprobante
                <select name="tipo" onchange="filtrar();" class="form-select" style="width: 100px; font-size: 13px;">
                    <option value="">Seleccione</option>
                    @if (f.tipo == "Boleta")
                    {
                        <option value="Boleta" selected>Boleta</option>
                    }
                    else
                    {
                        <option value="Boleta">Boleta</option>
                    }
                    @if (f.tipo == "Factura")
                    {
                        <option value="Factura" selected>Factura</option>
                    }
                    else
                    {
                        <option value="Factura">Factura</option>
                    }
                </select>
            </th>
            <th>
                Modo pago
                <select name="modpago" onchange="filtrar();" class="form-select" style="width: 80px; font-size: 13px;">
                    <option value="">Seleccione</option>
                    @if (f.modpago == "Credito")
                    {
                        <option value="Credito" selected>Credito</option>
                    }
                    else
                    {
                        <option value="Credito">Credito</option>
                    }
                    @if (f.modpago == "Contado")
                    {
                        <option value="Contado" selected>Contado</option>
                    }
                    else
                    {
                        <option value="Contado">Contado</option>
                    }
                </select>
            </th>
            <th>
                Estado
                <select name="estado" onchange="filtrar();" class="form-select" style="width: 80px; font-size: 13px;">
                    <option value="">Seleccione</option>
                    @if (f.estado == "Pendiente")
                    {
                        <option value="Pendiente" selected>Pendiente</option>
                    }
                    else
                    {
                        <option value="Pendiente">Pendiente</option>
                    }
                    @if (f.estado == "En Camino")
                    {
                    <option value="En Camino" selected>En Camino</option>
                    }
                    else
                    {
                    <option value="En Camino">En Camino</option>
                    }
                    @if (f.estado == "Entregado")
                    {
                        <option value="Entregado" selected>Entregado</option>
                    }
                    else
                    {
                        <option value="Entregado">Entregado</option>
                    }
                </select>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            PE00-@Html.DisplayFor(modelItem => item.docentry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomcliente)
        </td>
        <td>
            @item.fecreg.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugarDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modpago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        @if (item.estado == "Pendiente")
        {
            <td>
                <a style="color:green" href="@Url.Action( "EnCaminoVenta", "ComprasYa", new { id = item.docentry, estado=item.estado,idcom=item.docentry2 })"><i title="Embarcar" class="icon-truck"></i></a>
            </td>
        }
        else if (item.estado == "En Camino")
        {
            <td>
                <a style="color:yellow" href="@Url.Action( "AtenderVenta", "ComprasYa", new { id = item.docentry, estado=item.estado,idcom=item.docentry2 })"><i title="Atender" class="icon-pushpin"></i></a>
            </td>
        }
                else
                {
                    <td></td>
                }
        </tr>
        }

    </table>
</form>
<script>

    if ('@ViewBag.mensaje' != "") {
        swal.fire({
            title: "@ViewBag.mensaje",
            text: "Verifique campos",
            icon: "warning"
        })
    };
</script>
