@model Capa_Entidad.Usuario_E
@using Capa_Entidad
@{
    ViewBag.Title = "EditarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Rol_E> tipos = (List<Rol_E>)ViewBag.Roles;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var equInfoJson = jss.Serialize(tipos);
}
<style>
    td {
        padding: 5px;
    }

    th {
        text-align: left;
    }

    #cuerpo {
        padding: 15px;
        width: 960px;
        margin-left: 8%;
        background-color: rgb(220, 220, 220, 0.8);
        margin-bottom: 20px;
        border-radius: 20px;
    }
</style>
<script>
     $(document).ready(function () {
    });
    var artInfo = "";
    var equInfo = JSON.parse('@Html.Raw(equInfoJson)');
    function validarEnviarFormulario() {
        var object = $("#EditarUsuario").serialize();
            $.ajax('/ComprasYa/validarEditarUsuario',
                {
                    data: object,
                    dataType: 'html',
                    cache: false,
                    type: 'post'
                })
                .done(function (response) {
                    if (response != "true") { swal.fire({ title: response, text: "Presione OK para continuar", icon: "warning" }); return false}
                    else { $("#EditarUsuario").submit();}
                });
    }
</script>
<a  style="float:left;" href="@Url.Action("GestionUsuarios", "ComprasYa")" class="btn btn-danger">
    <span><strong>Volver Atras</strong></span>
</a>
<br /><br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditarUsuario", autocomplete = "off", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div id="cuerpo">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>EDITAR USUARIO</h4>
    <table>
        <tr>
            <th hidden>@Html.EditorFor(model => model.docentry, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })</th>
        </tr>
        <tr>
            <th colspan="2">Dni</th>
            <td>@Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })</td>
        </tr>
        <tr>
            <th >Nombres</th>
            <td colspan="5">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <th>Apellidos</th>
            <td colspan="5">@Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>

            <th>@Html.DisplayName("Fec Nacimiento")</th>
            <td colspan="2"><input type="date" name="fecnac" class="form-control" value="@Model.fechaVacia(Model.fecnac)" /></td>


            <th>Rol</th>

            <td colspan="2">
                <select name="rol" class="form-select">
                    <option value="">Seleccione</option>
                    @if (Model.rol == 1)
                    {
                        <option value="1" selected>Administrador</option>
                    }
                    else
                    {
                        <option value="1">Administrador</option>
                    }
                    @if (Model.rol == 2)
                    {
                        <option value="2" selected>Encargado</option>
                    }
                    else
                    {
                        <option value="2">Encargado</option>
                    }
                    @if (Model.rol == 3)
                    {
                        <option value="3" selected>Cliente</option>
                    }
                    else
                    {
                        <option value="3">Cliente</option>
                    }
                </select>
            </td>

        </tr>
        <tr>
            <th>Direccion</th>
            <td colspan="5">@Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })</td>
            <th>Pais</th>
            <td colspan="2">@Html.EditorFor(model => model.pais, new { htmlAttributes = new { @class = "form-control" } })</td>

        </tr>
        <tr>
            <th>Telefono</th>
            <td colspan="2">@Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })</td>
            <th>Correo</th>
            <td colspan="6">@Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>


    </table>

    <br />
    <div class="form-group">
        <button type="button" class="btn btn-success" onclick="validarEnviarFormulario();"><strong>Editar</strong></button>
    </div>
</div>
}
<script>

    if ('@ViewBag.mensaje' != "") {
        swal.fire({
            title: "@ViewBag.mensaje",
            text: "Verifique campos",
            icon: "warning"
        })
    };
</script>