@model IEnumerable<Capa_Entidad.Producto_E>
@using Capa_Entidad;

@{ ViewBag.Title = "GestionProductos";
                Layout = "~/Views/Shared/_Layout.cshtml";
                Producto_E f = (Producto_E)ViewBag.Producto;
                var ListaProductos = ViewBag.listaProductos; }
<style>
#cajas {
    align-content: center;
    text-align: center;
    border-top-width: 10px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: #2C384A;
    border-style: outset;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner a {
    display: block;
    width: 200px;
    color:white;
    text-decoration: none;
    padding: 10px;
    margin-top: 400px;
    margin-left:750px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(255,180,20,0.5);
}
</style>
<script>
    $(document).ready(function () {
    });
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/ComprasYa/GestionProductos?" + object);
    }
</script>
<section id="banner">
    <img src="~/Imagenes/banner/banner.jpg" />
    <div class="contenedor">
            <a href="@Url.Action("PublicarProductos", "ComprasYa")" class="btn btn-info">
                <span><strong>Publicar Productos</strong></span>
            </a>
    </div>
</section>
<br />
<form name="frm" id="frm">
    <table class="table table-light table-bordered table-active table-striped table-responsive-sm" border="1">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.docentry)
            </th>
            <th>
                @Html.DisplayName("NOMBRE")
                <input type="text" name="nombre" style="width:200px;font-size:13px;" class="form-control" onchange="filtrar();" value="@ViewBag.Producto.nombre" />
            </th>
            <th>
                @Html.DisplayName("DESCRIPCION")
                <input type="text" name="descripcion" style="width:250px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@ViewBag.Producto.descripcion" />
            </th>
            <th>
                @Html.DisplayName("MARCA")
                <input type="text" name="marca" style="width: 150px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@ViewBag.Producto.marca" />
            </th>
            <th>
                @Html.DisplayName("PRECIO")
                <select class="form-select" name="precio2" id="precio2" style="width:120px; font-size: 13px;" onchange="filtrar();">
                    <option value="">Seleccione</option>
                    @if (ViewBag.Producto.precio2 != null && ViewBag.Producto.precio2 == "0 and 150")
                    {
        <option value="0 and 150" selected> 0 a 150</option>
 }
    else
    {
        <option value="0 and 150"> 0 a 150</option>
}
                    @if (ViewBag.Producto.precio2 != null && ViewBag.Producto.precio2 == "151 and 500")
                    {
        <option value="151 and 500" selected> 151 a 500</option>
 }
    else
    {
        <option value="151 and 500"> 151 a 500</option>
}
                    @if (ViewBag.Producto.precio2 != null && ViewBag.Producto.precio2 == "501 and 1000")
                    {
        <option value="501 and 1000" selected>  501 a 1000</option>
 }
    else
    {
        <option value="501 and 1000">  501 a 1000</option>
}
                    @if (ViewBag.Producto.precio2 != null && ViewBag.Producto.precio2 == "1001 and 1500")
                    {
        <option value="1001 and 1500" selected>  1001 a 1500</option>
 }
    else
    {
        <option value="1001 and 1500">  1001 a 1500</option>
}
                    @if (ViewBag.Producto.precio2 != null && ViewBag.Producto.precio2 == "1501 and 5000")
                    {
        <option value="1501 and 5000" selected>  1501 a 5000</option>
 }
    else
    {
        <option value="1501 and 5000">  1501 a 5000</option>
}

                </select>
            </th>
            <th>
                @Html.DisplayName("CATEGORIA")

                <select class="form-select" name="subcategoria2" id="subcategoria2" style="width:150px; font-size: 13px;" onchange="filtrar();">
                    <option value="">Seleccione</option>
                    @foreach (SubCategoria_E obj in ViewBag.SubCategorias)
                    {
                        if (ViewBag.Producto.subcategoria2 != null && ViewBag.Producto.subcategoria2 == obj.tipo)
                        {
        <option value="@obj.tipo" Categoria="@obj.categoria" selected>@obj.tipo</option>
 }
    else
    {
        <option value="@obj.tipo" Categoria="@obj.categoria"> @obj.tipo </option>
}
}
                </select>

            </th>
            <th>
                @Html.DisplayName("STOCK")
                <input type="text" name="stock" style="width:50px; font-size: 13px;" class="form-control" onchange="filtrar();" value="@ViewBag.Producto.stock" />
            </th>
            <th>
                @Html.DisplayName("FOTO")
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.docentry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoria2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            <img style="width:50px; height:50px" src="@Url.Content(item.fotos)">
        </td>

    </tr>}

    </table>
</form>


