@model IEnumerable<Capa_Entidad.Producto_E>
@using Capa_Entidad;

@{ ViewBag.Title = "ListadoPublicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Producto_E f = (Producto_E)ViewBag.Producto;
    var ListaProductos = ViewBag.listaProductos; }
<style>
    #cajas {
        border-top-width: 5px;
        border-right-width: 5px;
        border-left-width: 5px;
        border-bottom-width: 5px;
        border-color: darkorange;
        border-style: outset;
        margin: 0px;
        border-radius: 20px;
    }

        #cajas p {
            font-size: 13px;
        }

    #banner img {
        width: 100%;
        height: 100%;
    }

    #banner .contenedor {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
    }

    #banner a {
        display: block;
        width: 200px;
        color: white;
        text-decoration: none;
        padding: 10px;
        margin-top: 400px;
        margin-left: 750px;
        border: 3px solid #fff;
    }

        #banner a:hover {
            background: rgba(255,180,20,0.5);
        }

    .producto {
        max-width: 400px;
        display: flex;
        flex-flow: column;
        border-radius: 6px;
        box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
        background-color: white;
        cursor: pointer;
        transition-property: box-shadow;
        transition-duration: 0.3s;
    }

        .producto:hover {
            box-shadow: 0 0 2.5em rgb(13 12 12);
        }

        .producto > img {
            width: 100%;
            object-fit: cover;
        }

    .informacion {
        border-top: 1px solid rgba(230,230,230);
        padding: 1em;
        display: flex;
        flex-flow: column;
    }


        .informacion * + * {
            margin-bottom: 0.5em;
        }

    .tipo-envio {
        background-color: rgb(52,131,250);
        color: rgb(255,255,255);
        font-weight: 600;
        max-width: max-content;
        padding: 0 0.2em;
        border-radius: 3px;
    }

    .precio {
        font-size: 1.5em;
    }

    .precio-envio {
        color: rgb(0,166,80);
    }

    .calificacion, .vendedor {
        transition-duration: 0.3s;
        transition-property: opacity;
        opacity: 0;
    }

    .producto:hover .calificacion,
    .producto:hover .vendedor {
        opacity: 1;
    }

    .descripcion, .vendedor {
        font-weight: 300;
    }

    .precio-envio, .descripcion, .vendedor {
        font-size: 0.9em;
    }

    .tipo-envio, .calificacion > span:last-child {
        font-size: 0.8em;
    }

    .calificacion > span:first-child {
        color: yellow;
    }

    .cuerpo {
        display: grid;
        grid-template-columns: repeat(auto-fit, 359px);
        grid-template-rows: 1fr;
        grid-gap: 1em;
    }
</style>

<div class="form-control">
    <h2 style="color:darkblue">Visualizar Mis Publicaciones</h2>
</div>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active"> Bienvenido a Compras Ya </li>
    <li class="breadcrumb-item active"> Estás viendo tus publicaciones</li>

</ol>
<br />


<div class="cuerpo">


    @if (ListaProductos != null)
    {
        foreach (var p in ListaProductos)
        {
    <div class="producto">


        <img src="@Url.Content(p.fotos)">

        <div class="informacion">
            <div class="card-body">
                <p hidden><strong>@p.docentry</strong></p>
                <h5 class="card-title"><strong>@p.nombre</strong></h5>
                <p class="card-text">@p.marca</p>
                <p class="card-text">@p.categoria2 / @p.subcategoria2</p>
                <p class="card-text"><em>@p.descripcion</em></p>
                <h6 style="color:darkred" class="card-text"><strong>S/. @p.precio</strong></h6>
                <p class="card-text"><strong>Stock disponible: @p.stock</strong></p>
            </div>
            <div>
                <a href="@Url.Action( "EditarProducto", "ComprasYa", new { id = p.docentry } )" class="btn btn-info">
                    <i title="Editar" class="icon-pencil2"></i>
                    <strong>Editar</strong>
                </a>
            </div>
            <br />
        </div>
    </div>
            }
        
        }
        else
        {
        <div class="form-control">
            <h2 style="color:darkblue">Visualizar Mis Publicaciones</h2>
        </div>

        <ol class="breadcrumb mb-4 mt-4">
            <li class="breadcrumb-item active"> Todavía no tienes ningún producto publicado :c</li>

        </ol>
        <br />

        }

 </div>



<script>
    if ('@ViewBag.mensaje' !="") {
        swal("@ViewBag.mensaje", "Presione el boton para continuar", "success");
    }
</script>
