@model Capa_Entidad.Usuario_E
@using Capa_Entidad
@{ ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Rol_E> tipos = (List<Rol_E>)ViewBag.Roles;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var equInfoJson = jss.Serialize(tipos); }

<style>
    td {
        padding: 5px;
    }

    th {
        text-align: left;
    }

    #cuerpo {
        padding: 15px;
        width: 960px;
        margin-left: 8%;
        background-color: rgb(220, 220, 220, 0.8);
        margin-bottom: 20px;
        border-radius: 20px;
    }
</style>
<script>
     $(document).ready(function () {
    });
    var artInfo = "";
    var equInfo = JSON.parse('@Html.Raw(equInfoJson)');

    function validarEnviarFormulario() {
        var object = $("#RegistrarUsuario").serialize();
            $.ajax('/ComprasYa/validarNuevoUsuario',
                {
                    data: object,
                    dataType: 'html',
                    cache: false,
                    type: 'post'
                })
                .done(function (response) {
                    if (response != "true") { swal.fire({ title: response, text: "Presione OK para continuar", icon: "warning" }); return false}
                    else { $("#RegistrarUsuario").submit();}
                });
    }
</script>

<a style="float:left;" href="@Url.Action("GestionUsuarios", "ComprasYa")" class="btn btn-danger">
    <span><strong>Volver Atras</strong></span>
</a><br/><br/>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RegistrarUsuario", autocomplete = "off" }))
{
@Html.AntiForgeryToken()

                <div id="cuerpo">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h4>REGISTRO DE NUEVO USUARIO</h4>
                    <table>
                        <tr>
                            <th>@Html.DisplayName("Rol")</th>
                            <td colspan="3">
                                <select class="form-select" id="rol" type="text" name="rol">
                                    <option value="-1">Seleccione...</option>
                                    @foreach (Rol_E obj in tipos)
                                    {
                    <option value="@obj.docentry">@obj.rol</option>}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Nombres")</th>
                            <td colspan="5"><input class="form-control" type="text" name="nombre" id="nombre" /></td>
                            <th>@Html.DisplayName("Apellidos")</th>
                            <td><input class="form-control" type="text" name="apellido" id="apellido" style="width:380px" /></td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Dni")</th>
                            <td colspan="2"><input class="form-control" type="number" name="dni" id="dni" /></td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Fec Nacimiento")</th>
                            <td colspan="2"><input class="form-control" type="date" name="fecnac" id="fecnac" /></td>
                            <th>@Html.DisplayName("Direccion")</th>
                            <td colspan="5"><input class="form-control" type="text" name="direccion" id="direccion" /></td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Telefono")</th>
                            <td colspan="2"><input class="form-control" type="text" name="telefono" id="telefono" /></td>
                            <th>@Html.DisplayName("Correo")</th>
                            <td colspan="4"><input class="form-control" type="email" name="correo" id="correo" style="width:300px" /></td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Pais")</th>
                            <td colspan="2"><input class="form-control" type="text" name="pais" id="fecnac" /></td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayName("Contraseña")</th>
                            <td colspan="2"><input class="form-control" type="password" name="contraseña" id="contraseña" autocomplete="new-password" /></td>
                            <th>@Html.DisplayName("Repita contraseña")</th>
                            <td colspan="4"><input class="form-control" type="password" name="newcontraseña" id="newcontraseña" autocomplete="new-password" /></td>
                        </tr>

                    </table>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <button type="button" class="btn btn-success" onclick="validarEnviarFormulario();"><strong>Registrar</strong></button>
                        </div>
                    </div>
                </div>
                }

<script>

    if ('@ViewBag.mensaje' != "") {
        swal.fire({
            title: "@ViewBag.mensaje",
            text: "Verifique campos",
            icon: "warning"
        })
    };
</script>